 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Fredoka One', cursive;
    }

    .main-header {
      position: sticky;
      top: 0;
      z-index: 999;
      background: linear-gradient(90deg, #59bacf, #AAE1EE);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }

    .container-cabecalho {
      max-width: 1200px;
      margin: auto;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

.carrinho-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.carrinho-btn {
  background-color: #4690e5; 
  color: #ffffff;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(79, 70, 229, 0.3); 
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.carrinho-btn:hover {
  background-color: #4338CA; 
  transform: scale(1.1);
}


    #logo {
      height: 100px;
      width: auto;
    }

    .navbar {
      flex: 1;
      margin-left: 40px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 18px;
      justify-content: center;
      align-items: center;
    }

    .nav-links li a {
      text-decoration: none;
      padding: 10px 16px;
      border-radius: 30px;
      font-weight: 600;
      background: #2aa1be;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      backdrop-filter: blur(10px);
    }

    .nav-links li a:hover {
      background: #174d5a;
    }

    .account-section .login-btn {
      background-color: #ffffff;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s ease;
    }

    .account-section .login-btn:hover {
      background-color: #f0f8ff;
    }

    .account-section svg {
      fill: #59bacf;
      width: 28px;
      height: 28px;
    }

    @media (max-width: 768px) {
      .container-cabecalho {
        flex-direction: column;
        gap: 10px;
      }

      .nav-links {
        flex-direction: column;
        gap: 12px;
      }

      .nav-links li a {
        width: 100%;
        text-align: center;
      }
    }

.desconto-tag {
 width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #ff0000;
  color: #fff;
  font-size: 1em; 
  font-weight: bold;
  padding: 10px 14px; 
  border-radius: 8px; 
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transform: rotate(-10deg);
}


